<!DOCTYPE html>
<html>
<head>
	<title>ejs using</title>
</head>
<body>
	<% for(let i=0;i<data.arr.length;i++){ %>
	<div>
		<span><%= data.arr[i].name %></span>
		<span><%= data.arr[i].age %></span>
	</div>
	<% } %>
</body>
</html>